azure-common==1.1.4
azure-mgmt==0.30.0rc6
azure-mgmt-batch==1.0.0
azure-mgmt-compute==0.30.0rc6
azure-mgmt-keyvault==0.30.0rc6
azure-mgmt-logic==1.0.0
azure-mgmt-network==0.30.0rc6
azure-mgmt-nspkg==1.0.0
azure-mgmt-redis==1.0.0
azure-mgmt-resource==0.30.0rc6
azure-mgmt-scheduler==1.0.0
azure-mgmt-storage==0.30.0rc6
azure-nspkg==1.0.0
azure-servicemanagement-legacy==0.20.4
azure-storage==0.33.0
beautifulsoup4==4.4.1
cffi==1.9.1
click==6.6
cryptography==1.7.1
enum34==1.1.6
Flask==0.11.1
futures==3.0.5
idna==2.2
ipaddress==1.0.17
itsdangerous==0.24
Jinja2==2.8
MarkupSafe==0.23
pyasn1==0.1.9
pycparser==2.17
python-dateutil==2.6.0
requests==2.10.0
six==1.10.0
Werkzeug==0.11.11
