appdirs==1.4.3
beautifulsoup4==4.5.3
click==6.7
Flask==0.12.2
Flask-OAuth==0.12
Flask-SSLify==0.1.5
gunicorn
httplib2==0.10.3
itsdangerous==0.24
Jinja2==2.9.6
MarkupSafe==1.0
oauth2==1.9.0.post1
packaging==16.8
pip==19.2
pyodbc==4.0.16
pyparsing==2.2.0
python-http-client==2.2.1
pytz==2017.2
requests==2.13.0
setuptools==34.4.1
six==1.10.0
Werkzeug==0.12.1
wheel==0.29.0
