<!DOCTYPE html>
<html lang="en">
<head>
    <title>CourseGrab</title>
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="../static/signup.css" rel="stylesheet">
    <script src="../static/js/jquery-3.1.0.min.js"></script>

</head>

<body>

<div class="container">
    <div class="header">
        <nav>
            <ul class="nav nav-pills pull-right">
                <li role="presentation" ><a href="main">Home</a></li>
                <li role="presentation"><a href="#">Sign In</a></li>
                <li role="presentation" class="active"><a href="#">Sign Up</a></li>
            </ul>
        </nav>
        <h3 class="text-muted">Python Flask App</h3>
    </div>

    <div class="jumbotron">
        <h1>CourseGrab</h1>
        <form class="form-signin">
            <label for="inputEmail" class="sr-only">Email address</label>
            <input type="email" name="inputEmail" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" name="inputPassword" id="inputPassword" class="form-control" placeholder="Password" required>

            <button id="btnSignUp" class="btn btn-lg btn-primary btn-block" type="button">Sign up</button>
        </form>
    </div>



    <footer class="footer">
        <p>&copy; Company 2015</p>
    </footer>

</div>
</body>
</html>

<script>
    $(function() {
        $('#btnSignUp').click(function() {

            $.ajax({
                url: '/signUp',
                data: $('form').serialize(),
                type: 'POST',
                success: function(response) {
                    console.log(response);
                },
                error: function(error) {
                    console.log(error);
                }
            });
        });
    });
</script>