<!DOCTYPE html>
<head>
    <!-- link to main stylesheet -->
    <link rel="stylesheet" type="text/css" href="../static/main.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
            background: url(http://ezramagazine.cornell.edu/Update/Jan10/photos/fpo.jpg);
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
            background-attachment: fixed;
            text-align: center;
        }
        h1 {
            font-size: 60px
        }
        p {
            font-size: 24px;
        }

    </style>
</head>
<body>
<h1>CornellCourseGrab
</h1>
<br><br><br><br>
<p>Welcome to CornellCourseGrab! <br> Give us your email address and the course ID of the class you want, and we'll send you an email
    when it's open. <br> That's it!
</p>

<form action="submitted" method="post">
    <input type="email" placeholder="Email" name="email"> <br>
    <input type="number" placeholder="Course ID" size="20" name="course_number"> <br>
    <input type=submit>
</form>

<br><br><br><br><br><br><br>
<p id="disclaimer">Don't know what the course ID of your discussion is? <br>Find it at the
    <a href='https://classes.cornell.edu/browse/roster/FA16'>class roster.</a></p>
<br><br><br><br><br><br>

<footer class="footer">
    <p id="bottom">
        Made for Big Red Hacks 2016 <br>
        by Chase Thomas and Ning Ning Sun</p>
</footer>

</body>

