{% extends "layout.html" %}

{% block content %}

<h1>
    Cornell CourseGrab
</h1>
<p>
    Welcome to Cornell CourseGrab! <br> Give us your email address and the course ID of the class you want, and we'll send you an email
    when it's open. <br> That's it!
</p>

<form class="form-horizontal" action="submitted" method="post">
    <div class="form-group">
        <input type="email" class="form-control" placeholder="Email" name="email">
    </div>
    <div class="form-group">
        <input type="number" class="form-control" placeholder="Course ID" size="20" name="course_number">
    </div>
    <div class="form-group">
        <button type=submit class="btn btn-default form-control">Submit</button>
    </div>
</form>

<p id="disclaimer">
    Don't know what the course ID of your discussion is? <br>Find it at the
    <a href='https://classes.cornell.edu/browse/roster/SP17'>class roster.</a>
</p>
<br><br><br><br><br><br>




{% endblock %}
