<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:fb="http://ogp.me/ns/fb#">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cornell CourseGrab</title>
    <link rel="stylesheet" type="text/css" href="../static/content/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="../static/content/site.css" />
    <link rel="stylesheet" type="text/css" href="../static/custom.css"/>
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <script src="../static/scripts/modernizr-2.6.2.js"></script>
    <meta property="og:image" content="../static/images/preview1.png"/>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <ul class="nav navbar-nav navbar-left">
                <li>
                    <a href="/" class="navbar-brand">Cornell CourseGrab</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if "access_token" in session %}
                    <li><a href="{{ url_for('sign_out') }}">Sign out</a></li>
                {% else %}
                    <li><a href="{{ url_for('sign_in') }}">Sign in</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
    <div class="container body-content">
        {% block content %}{% endblock %}
        <hr />
        <footer class="footer">
            <p id="bottom">
                A BigRed//Hacks 2016 Project by Ning Ning Sun and Chase Thomas
            </p>
            <p id="bottom">
                Check us out on <a href="https://github.com/nnsun/CourseGrab">Github</a>!
            </p>
        </footer>
    </div>

    <script src="../static/scripts/jquery-1.10.2.js"></script>
    <script src="../static/scripts/bootstrap.js"></script>
    <script src="../static/scripts/respond.js"></script>
    {% block scripts %}{% endblock %}

</body>
</html>
