<!DOCTYPE html>
<head>
    <!-- link to main stylesheet -->
    <link rel="stylesheet" type="text/css" href="../static/custom.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
            background: url(http://ezramagazine.cornell.edu/Update/Jan10/photos/fpo.jpg);
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
            background-attachment: fixed;
            text-align: center;
        }
        h1 {
            font-size: 60px
        }
        p {
            font-size: 24px;
        }
        }
    </style>
</head>
<body>
<h1>CourseGrab
</h1>
<br><br><br><br>
<p>Thanks!<br>
    We'll send you an email when the course is open.
</p>

<br><br><br><br><br><br><br><br><br>

<footer class="footer">
    <p id="bottom">
        Made for Big Red Hacks 2016 <br>
        by Chase Thomas and Ning Ning Sun</p>
</footer>

</body>